* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.bgSizeCover {
    background-image: url("./images/background.jpg");
    height: 600px;
    background-size: cover;
    background-position: center;
    position: relative;
}

header {
    color: indianred;
}